*{
    font-family: 'Courier New', Courier, monospace;

}
body{
    color: rgb(243, 139, 139);
    line-height: 25px;
    background-color: #333;
    text-decoration: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body a{
    text-decoration: none;
    color: rgb(243, 139, 139);
}

.a{
    text-decoration: underline;
    text-decoration-color: rgb(243, 139, 139);
    font-weight: lighter;
}

.a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(17, 0, 255);
    font-weight: lighter;

}

body a:hover{
    text-decoration: none;
    color: rgb(17, 0, 255);
}
.body{
    margin: -8px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* -------------------------------------------- Header ------------------------------------------ */
header img{
    width: 90px;
    height: 80px;
    border-radius: 70px;
}
header .links{
    color:rgb(243, 139, 139);
    margin-top: -4%;
    margin-left: 30%;
}
header .links a{
    padding-left: 15px;
    text-decoration: none;
    color: white;
}
header .links a:hover{
    color: darkorange;
}

header .links .index{
    color: darkorange;

}

.log{
    margin-left: 78%;
}
.log:hover{
    color: darkorange;
}
/* -----------------------------------------------Aside----------------------------------------------- */
aside{
    margin-top: 5%;
    margin-left: 250px;
    text-transform: capitalize;
}
table{
    border-collapse: collapse;
    color: white;
    border-color: black;
    outline: none;
}
tr,td,th{
    padding: 10px;
}
aside a{
    padding: 20px;
    font-size: larger;
    text-decoration: none;
}
aside button{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: darkorange;
    border: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 62%;
}
/* ---------------------------------------Footer------------------------------------------------- */

footer {
    background-color: #614e5d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 100px;   
}

.footer-info p {
    margin: 5px 0;
    text-align: left;
   
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.footer-social ul li a {
    color: #fff;
    font-size: 20px;
  
}

.footer-social ul li a i {
    transition: color 0.3s ease;
}

.footer-social ul li a i:hover {
    color: darkorange; 
}
